.slide-view {
    position: relative;
}

.slide-view .slide-image {
    position: absolute;
   height: 100%;
   top: 0;
}

.slide-view .slide-info {
   height: 100%;
   position: absolute;
}

.slide-button {
    background-color: #a28a7e;
}





.slide-image {
  height: 570px;
}


.slider {
  max-height: 450px;
  height: 100%;
  width: auto;
  overflow: hidden;
}

.slide-text {
    font-size: 2rem;
    letter-spacing: 1px;
}

.slide-info {
    font-size: 1.5rem;
    letter-spacing: 1px;
}



@media (max-width: 576px) {

}

@media (min-width: 576px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 991px) and (max-width: 1200px) {

}



@media (min-width: 1200px) {

}
